@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-cyan-300: #8fe3f9;
  --color-cyan-600: #4d96a9;

  --color-purple-300: #d9b8ff;
  --color-purple-600: #855fb1;

  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;

  --color-white: #fafafa;

  --text-*: initial;
  --text-lg: 4rem;
  --text-lg-tablet: 3rem;
  --text-md: 2.5rem;
  --text-md-tablet: 2.25rem;
  --text-md-mobile: 2rem;
  --text-sm: 1.125rem;
  --text-xs: 1rem;
  --text-xs-tablet: 0.875rem;
  --text-xs-mobile: 0.75rem;

  --leading-md: 1.1;
  --leading-lg: 1.5;

  --tracking-*: initial;
  --tracking-wide: 4px;
}

@utility red-hat-display-black {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

@utility red-hat-display-medium {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}
